name: Release

#
# This workflow releases a new version of this project.
#
# Make sure to prepare the project for a new release (see docs for more).
#

on:
  push:
    tags:
      - v*.*.*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: PyPI
      url: https://pypi.org/project/${{ github.event.repository.name }}
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Determine release-version
        id: release-version
        run: |
          value=$(echo "${GITHUB_REF#refs/*/}" | cut -c 2-)
          echo "value=$value" | tee -a $GITHUB_OUTPUT

      - name: Determine release-name
        id: release-name
        run: |
          value="${{ steps.release-version.outputs.value }} / $(date +%Y-%m-%d)"
          echo "value=$value" | tee -a $GITHUB_OUTPUT

      - name: Set up just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0

      - name: Set up uv
        uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2

      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version-file: pyproject.toml

      - name: Install mdformat
        run: uv tool install mdformat

      - name: Create release notes
        run: just create-release-notes

      - name: Remove prefix from script
        run: sed --in-place 's/^_//g' pyproject.toml

      - name: Build distributions
        run: uv build --out-dir=.tmp/dist

      - name: Publish distributions
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
        with:
          packages-dir: .tmp/dist

      - name: Create GitHub release
        uses: softprops/action-gh-release@c95fe1489396fe8a9eb87c0abf8aa5b2ef267fda # v2.2.1
        with:
          name: ${{ steps.release-name.outputs.value }}
          body_path: .tmp/release-notes.md
          draft: true
